:root {
 --headings: 'Roboto', sans-serif;
 --body: 'Yanone Kaffeesatz', sans-serif;
}

body {
    background-image: url("../imgs/ocean.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
}

header {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin: 20px;
    width: 50%;
    background: rgb(203,153,126);
    background: linear-gradient(90deg, rgba(203,153,126,1) 
    3%, rgba(240,239,235,1)
    48%, rgba(165,165,141,1) 86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px whitesmoke;
}

h1 {
    font-family: var(--headings);
    font-size: 5rem;
}

h2 {
    font-size: 1.5rem;
    background: rgb(203,153,126);
    background: linear-gradient(90deg, rgba(203,153,126,1) 
    3%, rgba(240,239,235,1)
    48%, rgba(165,165,141,1) 86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px whitesmoke;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    font-family: var(--body);
    width: 30%;
    height: 50%;
    padding: 60px;
    margin: 20px;
}

.timer:hover {
    transform: scale(1.1);
}

section {
    border: 1px solid #DDBEA9;
    box-shadow: 5px 1px #DDBEA9;
    border-radius: 50%;
    font-family: var(--body);
    font-size: 2rem;
    color: rgb(115, 115, 185);
    margin-left: 40px;
    height: 75%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown {
    color: rgb(203,153,126);
    font-size: 80px;
}

#audio-section {
    width: 30%;
    padding-left: 10%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}